*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background: #0d1117;
    background-image: url("/images/image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: rgba(255,255,255,0.4);
    box-shadow: 12px 12px 10px rgba(0,0,0,0.56);
    padding: 10px;
}
h2{
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
}
.input-text input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(16, 80, 184);
    background: transparent;
    outline: none;
    font-size: 20px;
}
.input-text input:focus{
    border-bottom: 1px solid rgb(184, 16, 16);
}
.input-text label{
    font-size: 20px;
    letter-spacing: 1px;
}
.line{
    position: relative;
    width: 100%;
    height: 1px;
    background: gray;
}
.input-button{
    position: relative;
    top: 10px;
}
.input-button input{
    color: #fff;
    background: rgba(0,0,0,0.9);
    border: none;
    width: 100%;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;

}